
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;font-family:'Segoe UI', Tahoma,Geneva, sans-serif;">QUẢN TRỊ SACHONLINE</h2>

