@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Admin/css")

    <title>Login</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="~/Admin/Home/Login" method="post" class="box login">
                    <h2>Login admin</h2>
                    <div class="inputbox">
                        <input type="text" tabindex="1" name="UserName" required>
                        <label for="">Username</label>
                    </div>
                    <div class="inputbox">
                        <input type="password" name="Password" tabindex="2" required>
                        <label for="">Password</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox">Remember me <a href="#"> Forget password</a></label>
                    </div>

                    <button>Login</button>
                    <div class="register">
                        <p>Don't have a account <a href="#">Register</a></p>
                    </div>
                    <p style="font-style:italic; color:red; margin:0px;">@ViewBag.ThongBao</p>
                </form>
            </div>
        </div>
    </section>
</body>
</html>