
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_LayoutUse.cshtml";
}

<h2>Xác Nhận đơn hàng</h2>
<h4>Đơn hàng của quý khách đã được chúng tôi ghi nhận, chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h4>
<p>
    @Html.ActionLink("về trang chủ", "Index", "SachOnline")
</p>

