@using NguyenVanDai.SachOnline.Models
@{
    KHACHHANG kh = (KHACHHANG)Session["TaiKhoan"];
}
@if (Session["TaiKhoan"] == null)
{
    <li>
        <a href="~/Use/DangKy">
            <span class="glyphicon glyphicon-user"></span>
            Đăng ký
        </a>
    </li>

    <li>
        <a href="@Url.Action("DangNhap", "Use", new { returnUrl = Request.Url.ToString() })">
            <span class="glyphicon glyphicon-log-in"></span> Đăng nhập
        </a>
    </li>

}
else
{
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-user"></span> Xin chào:@kh.HoTen
        </a>
    </li>
     <li>
            <a href="~/SachOnline/Logout">
                <span class="glyphicon glyphicon-log-out"></span> Đăng xuất
            </a>
        </li>
 }
